Source: eth-node-nethermind
Section: net
Priority: optional
Standards-Version: 4.5.1
Maintainer: Eniko Nagy <mail@eenagy.com>
Build-Depends: debhelper (>= 9),
               debhelper (>= 12.1.1)

Package: eth-node-nethermind
Priority: optional
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Suggests: eth-node
Provides: eth-node-execution-client
Description: Nethermind Ethereum client
 Nethermind is a high-performance, highly configurable full Ethereum protocol execution client built on .NET that runs on Linux, Windows, and macOS, and supports Clique, Aura, and Ethash. Nethermind offers very fast sync speeds and support for external plugins. Enjoy reliable access to rich on-chain data thanks to high-performance JSON-RPC based on the Kestrel web server. Healthy node monitoring is secured with Grafana analytics and Seq logging.
 
Package: eth-node-nethermind-config-default-mainnet
Priority: optional
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends}
Recommends: eth-node-nethermind-service-mainnet
Provides: eth-node-nethermind-config-mainnet
Conflicts: eth-node-nethermind-config-mainnet
Enhances: eth-node-nethermind-service-mainnet
Replaces: eth-node-nethermind-config-mainnet
Description: Required configuration options for the nethermind-service

Package: eth-node-nethermind-config-default-sepolia
Priority: optional
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends}
Recommends: eth-node-nethermind-service-sepolia
Provides: eth-node-nethermind-config-sepolia
Conflicts: eth-node-nethermind-config-sepolia
Enhances: eth-node-nethermind-service-sepolia
Replaces: eth-node-nethermind-config-sepolia
Description: Required configuration options for the nethermind-service

Package: eth-node-nethermind-service-mainnet
Priority: optional
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends},
         eth-node-nethermind,
         eth-node-nethermind (>= 1.21.1),
         eth-node-nethermind-config-mainnet,
         procps
Provides: eth-node-execution-client-service
Description: Service package for nethermind

Package: eth-node-nethermind-service-sepolia
Priority: optional
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends},
         eth-node-nethermind,
         eth-node-nethermind (>= 1.21.1),
         eth-node-nethermind-config-sepolia,
         procps
Provides: eth-node-execution-client-service
Description: Service package for nethermind
