#!/usr/bin/make -f

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd --name=eth-node-nethermind-service-mainnet
	dh_installsystemd --name=eth-node-nethermind-service-sepolia

override_dh_dwz:
