#!/usr/bin/make -f


%:
	dh $@

# Test are failing, but not because of node-gyp dep
override_dh_auto_test:
	yarn test:unit
	yarn test:e2e
	yarn test:e2e:sim

override_dh_auto_build:
	node --version
	yarn install 
	yarn build

override_dh_installsystemd:
	dh_installsystemd --name=eth-node-lodestar-service-mainnet
	dh_installsystemd --name=eth-node-lodestar-service-sepolia

override_dh_dwz:
