#!/usr/bin/make -f


export PATH:=/tmp/.npm-global/bin:$(PATH)

%:
	dh $@

override_dh_auto_test:
	yarn test

override_dh_auto_build:
	node --version
	mkdir /tmp/.npm-global
	npm config set prefix '/tmp/.npm-global'

	npm install --global yarn
	yarn install 
	yarn build

override_dh_installsystemd:
	dh_installsystemd --name=eth-node-lodestar-service-mainnet
	dh_installsystemd --name=eth-node-lodestar-service-sepolia

override_dh_dwz:
