Source: eth-node-nethermind
Section: net
Priority: optional
Maintainer: Eniko Nagy <mail@eenagy.com>
Build-Depends: debhelper (>= 9),
               debhelper (>= 12.1.1)

Package: eth-node-nethermind-cli
Priority: optional
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Recommends: eth-node-nethermind-service-@variant
Suggests: eth-node
Provides: eth-node-execution-client
Description: Go ethereum binary
  Go-etheurum binary
 
Package: eth-node-nethermind-config-default-mainnet
Priority: optional
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends}
Recommends: eth-node-nethermind-service-mainnet
Provides: eth-node-nethermind-config-mainnet
Conflicts: eth-node-nethermind-config-mainnet
Enhances: eth-node-nethermind-service-mainnet
Replaces: eth-node-nethermind-config-mainnet
Description: Required configuration options for the nethermind-service

Package: eth-node-nethermind-config-default-sepolia
Priority: optional
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends}
Recommends: eth-node-nethermind-service-sepolia
Provides: eth-node-nethermind-config-sepolia
Conflicts: eth-node-nethermind-config-sepolia
Enhances: eth-node-nethermind-service-sepolia
Replaces: eth-node-nethermind-config-sepolia
Description: Required configuration options for the nethermind-service

Package: eth-node-nethermind-service-mainnet
Priority: optional
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends},
         eth-node-nethermind-cli,
         eth-node-nethermind-config-mainnet,
         nethermind (>= 1.13.4),
         procps
Provides: eth-node-execution-client-service
Description: Service package for nethermind

Package: eth-node-nethermind-service-sepolia
Priority: optional
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends},
         eth-node-nethermind-cli,
         eth-node-nethermind-config-sepolia,
         nethermind (>= 1.13.4),
         procps
Provides: eth-node-execution-client-service
Description: Service package for nethermind
