name = "eth-node-validator-regtest"
maintainer = "Eniko Nagy <mail+ethnodes@eenagy.com>"
section = "net"
variants = []
build_depends = []
# TODO list all other packages in regtest dir 
packages = ["eth-node-validator-regtest"]
skip_debug_symbols = true

