name = "eth-node"
maintainer = "Eniko Nagy <mail@eenagy.com>"
section = "net"
variants = []
build-depends = ["eth-node-execution-client", "eth-node-consensus-client"]
packages = ["eth-node"]
skip_debug_symbols = true

