name = "eth-node-testnet-config"
maintainer = "Eniko Nagy <mail+ethnodes@eenagy.com>"
section = "net"
variants = []
build_depends = []
# TODO list all other packages in mainnet dir 
packages = ["eth-node-testnet-config"]
skip_debug_symbols = true

