#!/usr/bin/make -f
export CGO_ENABLED=0 

export GIT_COMMIT ?= <GIT_COMMIT_FULL>
export GIT_BRANCH ?= main
export GIT_TAG    ?= v<GIT_VERSION>

export CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
export CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
export CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS)
export LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

%:
	dh $@

override_dh_dwz:
	# skip of optimization of DWARF debug information in ELF binaries via dwz


override_dh_auto_clean:
	# on ubuntu clean fails, before dependency installation
	# on bookworm clean succeeds, even if dependency is not installed
	-make -j1 clean

override_dh_auto_build:
	make all

override_dh_auto_test:
	make -j1 test

override_dh_strip:
	dh_strip --no-automatic-dbgsym
