name = "eth-node-nimbus-eth2"
maintainer = "Eniko Nagy <mail@eenagy.com>"
section = "net"
variants = ["mainnet", "sepolia"]
build_depends = []
packages = ["eth-node-nimbus-eth2-cli",  "eth-node-nimbus-eth2-service-@variant", "eth-node-nimbus-eth2-config-default-@variant"]
skip_debug_symbols = true

