name = "ethereum-genesis-generator"
maintainer = "Eniko Nagy <mail+ethnodes@eenagy.com>"
section = "net"
variants = []
build_depends = ["python3-all", "python3-dev", "python3-pip", "python3-venv"]
packages = ["ethereum-genesis-generator"]
skip_debug_symbols = true

