name = "eth-node-nimbus-eth2"
maintainer = "Eniko Nagy <mail+ethnodes@eenagy.com>"
section = "net"
variants = []
build_depends = ["cmake", "clang", "llvm", "binutils"]
packages = ["eth-node-nimbus-eth2"]
skip_debug_symbols = true