#!/usr/bin/make -f

CARGO_INSTALL_EXTRA_FLAGS="--root build"
RUST_VERSION=1.76.0

%:
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain $(RUST_VERSION)
	dh $@

override_dh_auto_test:
	echo "Testing is disabled for this package"

override_dh_installsystemd:
	dh_installsystemd --name=eth-node-lighthouse-service-mainnet
	dh_installsystemd --name=eth-node-lighthouse-service-sepolia

override_dh_dwz:

