[Unit]
Description=eth-node-mainnet-besu service

[Service]
CapabilityBoundingSet=
ExecStart=/bin/bash run-besu.sh \
    --conf-file /etc/eth-node-mainnet-config/conf.d/mainnet.conf \
    --conf-file /etc/eth-node-besu-config/conf.d/besu-mainnet.conf
# IPAddressDeny=any
# IPAddressAllow=localhost
# LockPersonality=true
# NoNewPrivileges=true
# PrivateDevices=true
# PrivateIPC=true
# PrivateTmp=true
# PrivateUsers=true
# ProtectClock=true
# ProtectControlGroups=true
# ProtectHome=true
# ProtectHostname=true
# ProtectKernelLogs=true
# ProtectKernelModules=true
# ProtectKernelTunables=true
# ProtectProc=invisible
# ProtectSystem=strict
# # ReadWritePaths=/run/eth-node-mainnet
# RemoveIPC=true
# RestrictAddressFamilies=AF_INET AF_INET6
# RestrictNamespaces=true
# RestrictRealtime=true
# RestrictSUIDSGID=true
# SystemCallArchitectures=native
# SystemCallFilter=@system-service
# SystemCallFilter=~@privileged @resources @obsolete
# UMask=0077
# User=eth-node-mainnet-service-besu
# WorkingDirectory=/run/eth-node-mainnet

[Install]
WantedBy=multi-user.target
