name = "geth-node"
maintainer = "Eniko Nagy <mail@eenagy.com>"
section = "net"
variants = ["mainnet", "sepolia"]
build-depends = []
packages = ["eth-node-geth-cli", "eth-node-geth-service-@variant", "eth-node-geth-config-default-@variant"]
skip_debug_symbols = true

