#!/usr/bin/make -f
export CGO_ENABLED=0 

export GIT_COMMIT ?= 87246f3cbaf10f83f56bc4d45f0f3e36e83e71e9
export GIT_BRANCH ?= main
export GIT_TAG    ?= v1.14.4

%:
	dh $@

override_dh_dwz:
	# skip of optimization of DWARF debug information in ELF binaries via dwz


override_dh_auto_clean:
	# on ubuntu clean fails, before dependency installation
	# on bookworm clean succeeds, even if dependency is not installed
	-make -j1 clean

override_dh_auto_build:
	make all

override_dh_auto_test:
	# make -j1 test
