Source: eth-node
Section: net
Priority: optional
Maintainer: Eniko Nagy <mail@eenagy.com>
Build-Depends: debhelper (>= 9),
               debhelper (>= 12.1.1)

Package: eth-node
Priority: optional
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends},
         eth-node-consensus-client,
         eth-node-execution-client
Description: Simplified Ethereum node installation
 This virtual package simplifies the installation of essential
 dependencies required for running an Ethereum node. By installing this package, you
 can easily set up and configure any available Ethereum execution client or consensus
 client. It helps in the process of preparing your system for Ethereum network
 participation and provides a convenient starting point for node deployment and
 management.
 .
 Whether you intend to run an Ethereum node for development, testing, or production
 purposes, the "eth-node" package ensures that the necessary dependencies are in
 place, simplifying the setup process and improving your overall experience with
 Ethereum blockchain technologies.
 