name = "eth-node-lodestar-testnet"
maintainer = "Eniko Nagy <mail+ethnodes@eenagy.com>"
section = "net"
variants = []
build_depends = ["dh-sysuser"]
packages = [  "eth-node-lodestar-testnet"]
skip_debug_symbols = true
