#!/usr/bin/make -f
CARGO_INSTALL_EXTRA_FLAGS= --out-dir build/bin

%:
	dh $@

override_dh_auto_test:
	# do not run the tests
	# TODO tests are failing 
	

override_dh_installsystemd:
	dh_installsystemd --name=eth-node-lighthouse-service-mainnet
	dh_installsystemd --name=eth-node-lighthouse-service-sepolia

override_dh_dwz:
