#!/usr/bin/make -f

CARGO_INSTALL_EXTRA_FLAGS="--root build"

%:
	dh $@

override_dh_auto_test:
	echo "Testing is disabled for this package"

override_dh_installsystemd:
	dh_installsystemd --name=eth-node-lighthouse-service-mainnet
	dh_installsystemd --name=eth-node-lighthouse-service-sepolia

override_dh_dwz:

