name = "eth-node-reth"
maintainer = "Eniko Nagy <mail+ethnodes@eenagy.com>"
section = "net"
variants = []
build_depends = [ 
"pkgconf", 
"libclang-dev", 
]
packages = ["eth-node-reth"]
skip_debug_symbols = true

