[Unit]
Description=eth-node-prysm-testnet service

[Service]
CapabilityBoundingSet=
ExecStart=/bin/bash /usr/lib/eth-node-config-prysm-testnet/bin/run-prysm.sh \
    --conf-file /etc/eth-node-testnet/conf.d/testnet.conf \
    --conf-file /etc/eth-node-testnet/prysm/conf.d/prysm-testnet.conf
IPAddressDeny=none
LockPersonality=true
NoNewPrivileges=true
PrivateDevices=true
PrivateIPC=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
ReadWritePaths=/var/lib/eth-node-testnet/prysm
ReadOnlyPaths=/var/lib/eth-node-testnet
RemoveIPC=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX AF_NETLINK 

RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
# TODO not working for prysm
#SystemCallFilter=~@privileged @resources @obsolete
UMask=0077
User=eth-node-prysm-testnet
WorkingDirectory=/var/lib/eth-node-testnet/prysm

[Install]
WantedBy=multi-user.target
