name = "eth-node-mainnet-service-cl"
maintainer = "Eniko Nagy <mail+ethnodes@eenagy.com>"
section = "net"
variants = [
    "lighthouse", "lodestar", 
    "nimbus-eth2", "prysm", "teku"
]
build_depends = ["dh-sysuser"]
packages = [
    "eth-node-mainnet-service-@variant"
]
skip_debug_symbols = true
