name = "eth-node-lodestar-config"
maintainer = "Eniko Nagy <mail+ethnodes@eenagy.com>"
section = "net"
variants = []
build_depends = []
packages = [
    "eth-node-lodestar-config"
]
skip_debug_symbols = true
