name = "eth-node-nimbus-eth2"
maintainer = "Eniko Nagy <mail@eenagy.com>"
section = "net"
variants = []
build_depends = ["build-essential", "cmake"]
packages = ["eth-node-nimbus-eth2-cli"]
skip_debug_symbols = true

