name = "eth-node-prysm"
maintainer = "Eniko Nagy <mail+ethnodes@eenagy.com>"
section = "net"
variants = []
build_depends = ["wget", "ca-certificates", "git", "cmake", "libssl-dev", "libgmp-dev", "libtinfo6", "libprotoc-dev"]
packages = ["eth-node-prysm"]
skip_debug_symbols = true

