#!/usr/bin/make -f
export CARGO=$(HOME)/.cargo
export PATH:=$(PATH):$(CARGO)/bin
# same as CROSS_FEATURES, but packaging don't use cross
# cross relies on rustup, which pkg-builder doesn't use
# cross uses dockerized environment for building, which we don't need
# pkg-builder uses chroot instead of docker, chroot is much more lightweight
# chroot is the debian way
export FEATURES=gnosis,slasher-lmdb,slasher-mdbx,jemalloc


%:
	dh $@

override_dh_auto_build:  
	dh_auto_build

override_dh_auto_test:
	# # Install additional test dependency
	# cd /tmp && curl -s -L https://github.com/foundry-rs/foundry/releases/download/nightly-ca67d15f4abd46394b324c50e21e66f306a1162d/foundry_nightly_linux_amd64.tar.gz -o foundry_nightly_linux_amd64.tar.gz
	# cd /tmp && tar xvf foundry_nightly_linux_amd64.tar.gz 
	# cp /tmp/anvil $(HOME)/.cargo/bin
	# anvil --version # check if it correctly installed
	# make -j1 test-release

override_dh_auto_install:
	# This relies on make install script
	# if there is no install script, you have define your own rules
	dh_auto_install -- prefix=/usr

override_dh_auto_clean:
	# on ubuntu clean fails, before dependency installation
	# on bookworm clean succeeds, even if dependency is not installed
	-make -j1 clean
