name = "eth-node"
maintainer = "Eniko Nagy <mail+ethnodes@eenagy.com>"
section = "net"
# You can only run one consensus/execution client per chain currently
#variants = ["mainnet", "sepolia", "ephemery", "holesky" , "testnet"]
variants = ["mainnet", "sepolia", "ephemery", "holesky", "testnet"]
build_depends = []
packages = ["eth-node-@variant"]
skip_debug_symbols = true

