name = "eth-node-consensus-client"
maintainer = "Eniko Nagy <mail@eenagy.com>"
section = "net"
variants = ["mainnet", "sepolia"]
build-depends = []
packages = ["eth-node-consensus-client-cli",  "eth-node-consensus-client-service-@variant", "eth-node-consensus-client-config-default-@variant"]
skip_debug_symbols = true

