name = "eth-node-prysm-validator-testnet"
maintainer = "Eniko Nagy <mail+ethnodes@eenagy.com>"
section = "net"
variants = []
build_depends = ["dh-sysuser"]
packages = [
    "eth-node-prysm-validator-testnet"
]
skip_debug_symbols = true
