[Unit]
Description=Service package for lodestar

[Service]
Type=exec
ExecStart=/usr/share/lodestar/lodestar $DEBCRAFTER_EXTRA_SERVICE_ARGS
User=eth-node-lodestar-service-sepolia
Group=eth-node-lodestar-service-sepolia
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
RuntimeDirectory=eth-node-lodestar-service-sepolia
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
