[Unit]
Description=Service package for lodestar

[Service]
Type=exec
ExecStart=/usr/bin/lodestar $DEBCRAFTER_EXTRA_SERVICE_ARGS
User=eth-node-lodestar-service-mainnet
Group=eth-node-lodestar-service-mainnet
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
RuntimeDirectory=eth-node-lodestar-service-mainnet
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
