#!/usr/bin/make -f

%:
	dh $@

override_dh_build:
	# Install NVM
	curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.5/install.sh | bash
	# In your debian/rules file
	. $(HOME)/.nvm/nvm.sh && nvm install --lts && nvm use --lts && yarn install && yarn run build

override_dh_installsystemd:
	dh_installsystemd --name=eth-node-lodestar-service-mainnet
	dh_installsystemd --name=eth-node-lodestar-service-sepolia

override_dh_dwz:
