[Unit]
Description=Service package for besu

[Service]
Type=exec
ExecStart=/usr/share/besu/besu $DEBCRAFTER_EXTRA_SERVICE_ARGS
User=eth-node-besu-service-sepolia
Group=eth-node-besu-service-sepolia
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
RuntimeDirectory=eth-node-besu-service-sepolia
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
