#!/usr/bin/make -f

%:
	dh $@ --buildsystem=gradle --no-parallel

override_dh_installsystemd:
	dh_installsystemd --name=eth-node-besu-service-mainnet
	dh_installsystemd --name=eth-node-besu-service-sepolia

override_dh_dwz:
