name = "eth-node-nethermind"
maintainer = "Eniko Nagy <mail@eenagy.com>"
section = "net"
variants = ["mainnet", "sepolia"]
build-depends = []
packages = ["eth-node-nethermind-cli", "eth-node-nethermind-service-@variant", "eth-node-nethermind-config-default-@variant"]
skip_debug_symbols = true

