#!/usr/bin/make -f

export BUILD_DIR=/tmp/eth-node-prysm
export GOCACHE=$(BUILD_DIR)/.gocache
export GOROOT=$(BUILD_DIR)/go
export GOPATH=$(BUILD_DIR)/go-libs
export PATH :=$(PATH):$(GOROOT)/bin:$(GOPATH)/bin
export GO_VERSION=1.21.3
export GO_TAR=go$(GO_VERSION).linux-amd64.tar.gz


%:
	dh $@

#override_dh_auto_test:
	# do not run the tests
	# TODO tests are failing under sbuild
        CGO_CFLAGS="-O2 -D__BLST_PORTABLE__" $(GOPATH)/bin/bazelisk test //..

override_dh_auto_clean:
	# Do nothing, patch the makefile
	#
	-rm -rf $(BUILD_DIR)

override_dh_auto_build:
	mkdir -p $(BUILD_DIR)
	wget -q https://go.dev/dl/$(GO_TAR)
	tar -C $(BUILD_DIR) -xzf $(GO_TAR)
	rm $(GO_TAR)
	go env
	go install github.com/bazelbuild/bazelisk@v1.18.0
	ls -l $(GOPATH)/bin
	$(GOPATH)/bin/bazelisk build //cmd/beacon-chain:beacon-chain --config=release
	$(GOPATH)/bin/bazelisk build //cmd/validator:validator --config=release 

# Todo this needs to be merged with the debcrafter generated debian/rules override
override_dh_installsystemd:
	dh_installsystemd --name=eth-node-prysm-service-mainnet
	dh_installsystemd --name=eth-node-prysm-service-sepolia

override_dh_dwz:
