#!/usr/bin/make -f
export CGO_ENABLED=0 

export GIT_COMMIT ?= <GIT_COMMIT_LONG>
export GIT_BRANCH ?= main
export GIT_TAG    ?= v<CLIENT_VERSION>

export CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
export CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
export CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS)
export LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)
export LDFLAGS=-X main.GitCommit=$(GIT_COMMIT) -X main.GitBranch=${GIT_BRANCH}

%:
	dh $@

override_dh_dwz:
	# skip of optimization of DWARF debug information in ELF binaries via dwz

override_dh_auto_build:
	go build -v -o bin/ -ldflags="$(LDFLAGS)" ./cmd/*

override_dh_auto_install:
	# do nothing

# override_dh_auto_test:
# 	go test -mod=mod -v .

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_clean: 
	-rm -f bin/*
	-$(MAKE) -C ui-package clean	
	