#!/usr/bin/make -f

%:
	dh $@

override_dh_dwz:
	# skip of optimization of DWARF debug information in ELF binaries via dwz

override_dh_auto_build:
	cd apps/el-gen && python3 -m venv .venv
	cd apps/el-gen && . .venv/bin/activate && pip install -r requirements.txt
	cd apps/el-gen && . .venv/bin/activate && pip install cx_Freeze
	
	ls -al /usr/lib/x86_64-linux-gnu

	cp debian/setup.py apps/el-gen
	cd apps/el-gen && . .venv/bin/activate && python setup.py build
	
	ls -al apps/el-gen
	cp -R config-example config

	chmod +x entrypoint.sh
	ls -al apps/el-gen/build/exe.linux-x86_64-3.12
	chmod +x apps/el-gen/build/exe.linux-x86_64-3.12/genesis_besu
	chmod +x apps/el-gen/build/exe.linux-x86_64-3.12/genesis_chainspec
	chmod +x apps/el-gen/build/exe.linux-x86_64-3.12/genesis_geth

	mv apps/el-gen/build/exe.linux-x86_64-3.12/genesis_besu apps/el-gen
	mv apps/el-gen/build/exe.linux-x86_64-3.12/genesis_chainspec apps/el-gen
	mv apps/el-gen/build/exe.linux-x86_64-3.12/genesis_geth apps/el-gen

	rm -rf apps/el-gen/.venv
	rm -rf apps/el-gen/build
	rm -rf apps/el-gen/dist
	rm apps/el-gen/setup.py

override_dh_auto_install:
	# do nothing

override_dh_strip:
	dh_strip --no-automatic-dbgsym
