name = "eth-node-lighthouse"
maintainer = "Eniko Nagy <mail@eenagy.com>"
section = "net"
variants = ["mainnet", "sepolia"]
build-depends = []
packages = ["eth-node-lighthouse-cli",  "eth-node-lighthouse-service-@variant", "eth-node-lighthouse-config-@variant-default"]
skip_debug_symbols = true

