name = "eth-node-besu"
maintainer = "Eniko Nagy <mail+ethnodes@eenagy.com>"
section = "net"
variants = []
build_depends = ["libsodium23", "libnss3", "strip-nondeterminism"]
packages = ["eth-node-besu"]
skip_debug_symbols = true

