name = "eth-node-ephemery"
maintainer = "Eniko Nagy <mail+ethnodes@eenagy.com>"
section = "net"
variants = []
build_depends = []
# TODO list all other packages in ephemery dir 
packages = ["eth-node-ephemery-besu-lighthouse"]
skip_debug_symbols = true

