[Unit]
Description=Service package for erigon

[Service]
Type=exec
ExecStart=/usr/share/eth-node-erigon/bin/erigon $DEBCRAFTER_EXTRA_SERVICE_ARGS
User=eth-node-erigon-service-sepolia
Group=eth-node-erigon-service-sepolia
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
RuntimeDirectory=eth-node-erigon-service-sepolia
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
