[Unit]
Description=Service package for erigon

[Service]
Type=exec
ExecStart=/usr/bin/erigon -config=/etc/eth-node-erigon-service-sepolia/config.toml $DEBCRAFTER_EXTRA_SERVICE_ARGS
User=eth-node-erigon-service-sepolia
Group=eth-node-erigon-service-sepolia
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
