[Unit]
Description=Service package for erigon

[Service]
Type=exec
ExecStart=/usr/share/erigon/erigon $DEBCRAFTER_EXTRA_SERVICE_ARGS
User=eth-node-erigon-service-mainnet
Group=eth-node-erigon-service-mainnet
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
RuntimeDirectory=eth-node-erigon-service-mainnet
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
