name = "eth-node-execution-client"
maintainer = "Eniko Nagy <mail@eenagy.com>"
section = "net"
variants = ["mainnet", "sepolia"]
build_depends = []
packages = ["eth-node-execution-client-cli", "eth-node-execution-client-service-@variant", "eth-node-execution-client-config-default-@variant"]
skip_debug_symbols = true

