Source: eth-node-teku
Section: net
Priority: optional
Standards-Version: 4.5.1
Maintainer: Eniko Nagy <mail@eenagy.com>
Build-Depends: debhelper (>= 9),
               debhelper (>= 12.1.1)

Package: eth-node-teku
Priority: optional
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Suggests: eth-node
Provides: eth-node-consensus-client
Description: Teku is a Java implementation of the Ethereum 2.0 Beacon Chain.
 Teku is an open source Ethereum consensus client (previously called an Ethereum 2.0 client) written in Java.
 Teku contains a full beacon node implementation and a validator client for participating in proof of stake consensus.
 What can you do with Teku?
 .
 Teku supports the following features:
 .
     Running the beacon node synchronization and consensus.
     Proposing and attesting to blocks.
     Enterprise-focused metrics using Prometheus.
     A REST API for managing consensus layer node operations.
     External key management for managing validator signing keys.
 
Package: eth-node-teku-config-default-mainnet
Priority: optional
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends}
Recommends: eth-node-teku-service-mainnet
Provides: eth-node-teku-config-mainnet
Conflicts: eth-node-teku-config-mainnet
Enhances: eth-node-teku-service-mainnet
Replaces: eth-node-teku-config-mainnet
Description: Required configuration options for teku

Package: eth-node-teku-config-default-sepolia
Priority: optional
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends}
Recommends: eth-node-teku-service-sepolia
Provides: eth-node-teku-config-sepolia
Conflicts: eth-node-teku-config-sepolia
Enhances: eth-node-teku-service-sepolia
Replaces: eth-node-teku-config-sepolia
Description: Required configuration options for teku

Package: eth-node-teku-service-mainnet
Priority: optional
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends},
         eth-node-teku,
         eth-node-teku (>= 23.10.0),
         eth-node-teku-config-mainnet,
         procps
Provides: eth-node-consensus-client-service
Description: Service package for teku

Package: eth-node-teku-service-sepolia
Priority: optional
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends},
         eth-node-teku,
         eth-node-teku (>= 23.10.0),
         eth-node-teku-config-sepolia,
         procps
Provides: eth-node-consensus-client-service
Description: Service package for teku
