#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	./gradlew distTar installDist

override_dh_installsystemd:
	dh_installsystemd --name=eth-node-teku-service-mainnet
	dh_installsystemd --name=eth-node-teku-service-sepolia

override_dh_dwz:
