name = "eth-node-sepolia"
maintainer = "Eniko Nagy <mail+ethnodes@eenagy.com>"
section = "net"
variants = []
build_depends = []
# TODO list all other packages in sepolia dir 
packages = ["eth-node-sepolia-besu-lighthouse"]
skip_debug_symbols = true

