#!/usr/bin/make -f

export CARGO_INSTALL_EXTRA_FLAGS:=--root build
export RUST_VERSION:=1.76.0
export PATH:="$(HOME)/.cargo/bin:$(PATH)"
export PROFILE:=release
export FEATURES:=jemalloc


%:
	cd /tmp && curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain $(RUST_VERSION)
	dh $@




override_dh_auto_build:
	$(HOME)/.cargo/bin/cargo install --path lighthouse --force --locked \
		--features "$(FEATURES)" \
		--profile "$(PROFILE)" \
		$(CARGO_INSTALL_EXTRA_FLAGS)

override_dh_auto_test:
	#Install anvil for running tests
	cd /tmp && curl -s -L https://github.com/foundry-rs/foundry/releases/download/nightly-ca67d15f4abd46394b324c50e21e66f306a1162d/foundry_nightly_linux_amd64.tar.gz -o foundry_nightly_linux_amd64.tar.gz
	cd /tmp && tar xvf foundry_nightly_linux_amd64.tar.gz 
	cp /tmp/anvil $(HOME)/.cargo/bin
	$(HOME)/.cargo/bin/cargo test --workspace --release --exclude ef_tests --exclude beacon_chain --exclude slasher


override_dh_auto_install:

override_dh_installsystemd:
	dh_installsystemd --name=eth-node-lighthouse-service-mainnet
	dh_installsystemd --name=eth-node-lighthouse-service-sepolia

override_dh_dwz:

