name = "eth-node-besu"
maintainer = "Eniko Nagy <mail@eenagy.com>"
section = "net"
variants = ["mainnet", "sepolia"]
build-depends = ["libsodium23", "libnss3"]
packages = ["eth-node-besu", "eth-node-besu-service-@variant", "eth-node-besu-config-default-@variant"]
skip_debug_symbols = true

