name = "eth-node-lighthouse"
maintainer = "Eniko Nagy <mail@eenagy.com>"
section = "net"
variants = []
build_depends = [
"gcc", 
"g++", 
"make", 
"cmake", 
"pkg-config", 
"llvm-dev", 
"libclang-dev", 
"libpq-dev",
"clang", 
"docker-ce",
"docker-ce-cli",
"containerd.io",
"docker-buildx-plugin",
"docker-compose-plugin",
"curl"
]
packages = ["eth-node-lighthouse"]
skip_debug_symbols = true

