name = "eth-node-lighthouse"
maintainer = "Eniko Nagy <mail@eenagy.com>"
section = "net"
variants = []
build_depends = [ 
"curl",
"git", 
"cmake", 
"pkg-config", 
"llvm-dev", 
"libclang-dev", 
"libpq-dev",
"clang", 
]
packages = ["eth-node-lighthouse"]
skip_debug_symbols = true

