name = "eth-node-testnet-service-teku"
maintainer = "Eniko Nagy <mail+ethnodes@eenagy.com>"
section = "net"
variants = []
build_depends = ["dh-sysuser"]
packages = [
    "eth-node-testnet-service-teku"
]
skip_debug_symbols = true
