#!/usr/bin/make -f
# conditionally enable tests, default is true
# there are times you want to do quick rebuilding to verify hash without running the tests
export GIT_COMMIT=b18d150
export BUILD_DATE=2024-09-17T10:09Z
export GIT_VERSION=24.9.1

%:
	dh $@

override_dh_auto_build:
	./gradlew distTar installDist

override_dh_strip_nondeterminism:
	dh_strip_nondeterminism
	# some files on the CI gets ignored
	strip-nondeterminism debian/eth-node-besu/usr/lib/eth-node-besu/besu/lib/*.jar
	strip-nondeterminism debian/eth-node-besu/usr/lib/eth-node-besu/besu/lib/besu-metrics-core-$(GIT_VERSION).jar

# override_dh_auto_test:
# 	./gradlew test

override_dh_auto_clean:
	# on ubuntu clean fails, before dependency installation
	# on bookworm clean succeeds, even if dependency is not installed
	-make -j1 clean
