#!/usr/bin/make -f
# conditionally enable tests, default is true
# there are times you want to do quick rebuilding to verify hash without running the tests
export GIT_COMMIT=870f3b7
export BUILD_DATE=2025-01-24T08:50Z
export GIT_VERSION=25.1.0

%:
	dh $@

override_dh_auto_build:
	./gradlew distTar installDist

override_dh_auto_test:
	./gradlew test

override_dh_strip_nondeterminism:
	dh_strip_nondeterminism
	# some files on the CI gets ignored
	strip-nondeterminism debian/eth-node-besu/usr/lib/eth-node-besu/besu/lib/*.jar
	
override_dh_auto_clean:
	# on ubuntu clean fails, before dependency installation
	# on bookworm clean succeeds, even if dependency is not installed
	-make -j1 clean
