#!/bin/bash

. /usr/share/debconf/confmodule

declare -A CONFIG
PRIORITY=medium
db_input $PRIORITY eth-node-prysm-service-sepolia/datadir
PRIORITY=medium
db_input $PRIORITY eth-node-prysm-service-sepolia/execution-endpoint
PRIORITY=medium
db_input $PRIORITY eth-node-prysm-service-sepolia/jwt-secret
PRIORITY=medium
db_input $PRIORITY eth-node-prysm-service-sepolia/genesis-state
PRIORITY=medium
db_input $PRIORITY eth-node-prysm-service-sepolia/checkpoint-sync-url
PRIORITY=medium
db_input $PRIORITY eth-node-prysm-service-sepolia/genesis-beacon-api-url
db_go
