#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	./gradlew installDist

override_dh_installsystemd:
	dh_installsystemd --name=eth-node-besu-service-mainnet
	dh_installsystemd --name=eth-node-besu-service-sepolia

override_dh_dwz:
