#!/usr/bin/make -f

%:
	dh $@

override_dh_dwz:
	# skip of optimization of DWARF debug information in ELF binaries via dwz

override_dh_auto_build:
	cd apps/el-gen && python3 -m venv .venv
	cd apps/el-gen && . .venv/bin/activate && pip install -r requirements.txt
	ls -al apps/el-gen
	cp -R config-example config
	chmod +x entrypoint.sh
	chmod +x apps/el-gen/.venv/bin/activate

override_dh_auto_install:
	# do nothing
