name = "eth-node-testnet"
maintainer = "Eniko Nagy <mail+ethnodes@eenagy.com>"
section = "net"
variants = []
build_depends = []
# TODO list all other packages in testnet dir 
packages = ["eth-node-testnet"]
skip_debug_symbols = true

