[Unit]
Description=service file for eth-node-nimbus-eth2 for network: regtest
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/lib/eth-node-regtest/nimbus-eth2/run-nimbus-eth2-service.sh $DEBCRAFTER_EXTRA_SERVICE_ARGS
User=eth-node-nimbus-eth2-regtest
Group=eth-node-nimbus-eth2-regtest
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
RuntimeDirectory=eth-node-nimbus-eth2-regtest
RuntimeDirectoryMode=750
# no need to specify, these come from debcrafter
# User=eth-node-nimbus-eth2-regtest
# NoNewPrivileges=true
# ProtectHome=true
# PrivateTmp=true
# PrivateDevices=true

# additional flags not specified by debcrafter
CapabilityBoundingSet=
IPAddressDeny=none
LockPersonality=true
PrivateIPC=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ReadWritePaths=/var/lib/eth-node-regtest/nimbus-eth2
ReadOnlyPaths=/var/lib/eth-node-regtest
RemoveIPC=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX AF_NETLINK 

RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
UMask=0077
WorkingDirectory=/var/lib/eth-node-regtest/nimbus-eth2


[Install]
WantedBy=multi-user.target
