name = "eth-node-erigon"
maintainer = "Eniko Nagy <mail+ethnodes@eenagy.com>"
section = "net"
variants = []
build_depends = ["git", "llvm", "binutils"]
packages = ["eth-node-erigon"]
skip_debug_symbols = true
