name = "eth-node-nethermind"
maintainer = "Eniko Nagy <mail@eenagy.com>"
section = "net"
variants = []
build_depends = ["libsnappy-dev", "dotnet-sdk-7.0"]
packages = ["eth-node-nethermind"]
skip_debug_symbols = true

