name = "eth-node-testnet-service-el"
maintainer = "Eniko Nagy <mail+ethnodes@eenagy.com>"
section = "net"
variants = [
    "besu", "erigon", "geth", 
    "nethermind",  "reth", 
]
build_depends = ["dh-sysuser"]
packages = [
    "eth-node-testnet-service-@variant"
]
skip_debug_symbols = true
