Source: eth-node-geth
Section: net
Priority: optional
Standards-Version: 4.5.1
Maintainer: Eniko Nagy <mail@eenagy.com>
Build-Depends: debhelper (>= 9),
               debhelper (>= 12.1.1),
               wget,
               ca-certificates

Package: eth-node-geth
Priority: optional
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Suggests: eth-node
Provides: eth-node-execution-client
Description: Go ethereum binary
  Go-etheurum binary
 
Package: eth-node-geth-config-default-sepolia
Priority: optional
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends}
Recommends: eth-node-geth-service-sepolia
Provides: eth-node-geth-config-sepolia
Conflicts: eth-node-geth-config-sepolia
Enhances: eth-node-geth-service-sepolia
Replaces: eth-node-geth-config-sepolia
Description: Required configuration options for the geth-service

Package: eth-node-geth-service-sepolia
Priority: optional
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends},
         eth-node-geth,
         eth-node-geth (>= 1.13.4),
         eth-node-geth-config-sepolia,
         procps
Provides: eth-node-execution-client-service
Description: Service package for geth
