#!/usr/bin/make -f
export BUILD_DIR=/tmp
export GOCACHE=$(BUILD_DIR)/.gocache
export GOROOT=$(BUILD_DIR)/go
export GOPATH=$(BUILD_DIR)/go-libs
export PATH :=$(PATH):$(GOROOT)/bin
export GO_VERSION=1.21.3
export GO_TAR=go$(GO_VERSION).linux-amd64.tar.gz 
# Fix issue with https://github.com/ethereum/go-ethereum/issues/22961 
export CGO_ENABLED=0


%:
	dh $@

override_dh_auto_test:
	# do not run the tests
	# TODO tests are failing under sbuild
	
override_dh_auto_clean:
	# Do nothing, patch the makefile 
	#
	-rm $(GO_TAR)
	-rm $(BUILD_DIR)/go
	-rm -rf build/bin
	-rm -rf build/config

override_dh_auto_build:
	wget -q --no-check-certificate https://go.dev/dl/$(GO_TAR) 
	tar -C $(BUILD_DIR) -xzf $(GO_TAR) 
	rm $(GO_TAR)
	go env
	make all -j4 "INSTALL=install --strip-program=true"
	mkdir build/config
	build/bin/geth --goerli dumpconfig build/config/goerli.toml
	build/bin/geth --sepolia dumpconfig build/config/sepolia.toml
	build/bin/geth --mainnet dumpconfig build/config/mainnet.toml

override_dh_installsystemd:
	dh_installsystemd --name=eth-node-geth-service-sepolia

override_dh_dwz:
